<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>
<% 3.times do %>

    <script>document.write("hello");</script><br/>
    hi tahir <br/>
    <%= @instanceVariable %><br/>



<% end %>
<br/>
<div class="dave">

<%= link_to "daveSpeak",dave_teacher_speak_path %>

</div>